<a href="https://colab.research.google.com/github/Igorprogr/Analise-de-Dados-PNAD/blob/main/An%C3%A1lise_de_Dados_Dados_PNAD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Projeto Data Science - Análise de Dados
Projeto sobre análise de dados e responder perguntas com gráficos e métricas;

A fazer:
*Montar uma hipótese/pergunta e escolher variáveis do PNAD que podem responder minha pergunta -> fazer representações gráficas, tubulares e com métricas descritivas;*

O que é PNAD?
https://www.ibge.gov.br/estatisticas/sociais/populacao/9127-pesquisa-nacional-por-amostra-de-domicilios.html?=&t=o-que-e



Índice com significado de cada pasta:
https://ftp.ibge.gov.br/Trabalho_e_Rendimento/Pesquisa_Nacional_por_Amostra_de_Domicilios_anual/2015/Volume_Brasil/Brasil/00_indice_tabelas_brasil.txt

# Tema: Educação e Emprego

**Pergunta**: "Qual é o impacto do nível educacional no salário médio dos indivíduos?"

---

**Hipótese**: "Indivíduos com nível superior completo têm um salário médio significativamente maior do que aqueles com ensino médio completo."
Variáveis Possíveis do PNAD:

-Nível de escolaridade;

-Rendimento mensal;

-Ocupação;

In [ ]:
! pip install pandas matplotlib seaborn ezodf

In [ ]:
# Importações de bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ezodf

In [ ]:
def read_ods(filename, sheet_index=0):
  doc = ezodf.opendoc(filename)
  sheet = doc.sheets[sheet_index]

  data = [[cell.value for cell in row] for row in sheet.rows()]
  df = pd.DataFrame(data[1:], columns=data[0])

  return df

In [ ]:
#Título do conteúdo da tabela:
#Tabela 4.10 - Pessoas de 15 anos ou mais de idade, ocupadas na semana de
#referência, por grupos de anos de estudo, segundo o sexo e as classes de rendimento mensal de todos os trabalhos - Brasil - 2015

df_rendimentoMensalTrabalhoRAW = read_ods('Tabela 4.10 - 1-1.ods')

In [ ]:
df_rendimentoMensalTrabalhoRAW.dtypes

Dicionário de Abreviações:

-Na nomeação das variáveis: "RM" = Rendimento Mensal;

In [ ]:
#Remove linha que inúteis do começo
indicesParaDeletar = [0, 1, 2, 3]

df_RMAnosDeEstudo = df_rendimentoMensalTrabalhoRAW.drop(indicesParaDeletar, axis='index')

df_RMAnosDeEstudo.reset_index(drop=True, inplace=True)

In [ ]:
#Define novo cabeçalho
new_header = df_RMAnosDeEstudo.iloc[0]
df_RMAnosDeEstudo = df_RMAnosDeEstudo[1:]
df_RMAnosDeEstudo.columns = new_header

In [ ]:
#Muda apenas o índice de uma coluna isolada
df_RMAnosDeEstudo.columns.values[1] = 'total'
df_RMAnosDeEstudo.columns.values[0] = 'anos de instrução'
#Retirar a última coluna
#df_RMAnosDeEstudo.drop(columns=df_RMAnosDeEstudo.columns[9])

In [ ]:
#Identifica a coluna nula, a guarda em uma variável e a deleta
coluna_sem_nome = df_RMAnosDeEstudo.columns[df_RMAnosDeEstudo.columns.isnull()]
df_RMAnosDeEstudo.drop(columns=coluna_sem_nome, inplace=True)
#Just let the columns that are indicating the "total", the sum between man and wemen
df_RMAnosDeEstudoTotal = df_RMAnosDeEstudo.drop(df_RMAnosDeEstudo.iloc[11:44].index)
df_RMAnosDeEstudoTotal.head(50)

In [ ]:
df_RMAnosDeEstudoTotal.dtypes

In [68]:
#Discover how to use strip to take of the spaces on the index's words, maybe they are giving problems.
df.rename(columns=lambda x:x.strip(), inplace=True)

In [ ]:
df_RMAnosDeEstudoTotal.info()

In [69]:
# Mark the content of the cell and press Ctrl+ /.
# It will comment out all lines in that cell. Repeat the same steps to uncomment the lines of your cell.

# Adapte o código a seguir para fazer um código de barrsr empilhadas:

# # Dados de exemplo
# data = {
#     'Categoria': ['A', 'B', 'C'],
#     'Parte1': [10, 20, 30],
#     'Parte2': [15, 25, 35],
#     'Parte3': [10, 15, 5]
# }

# df = pd.DataFrame(data)

# # Configuração do gráfico
# plt.figure(figsize=(10, 6))
# plt.bar(df['Categoria'], df['Parte1'], label='Parte 1', color='skyblue')
# plt.bar(df['Categoria'], df['Parte2'], bottom=df['Parte1'], label='Parte 2', color='lightgreen')
# plt.bar(df['Categoria'], df['Parte3'], bottom=df['Parte1'] + df['Parte2'], label='Parte 3', color='salmon')

# # Adicionar título e rótulos
# plt.title('Stacked Bar Chart Example')
# plt.xlabel('Categoria')
# plt.ylabel('Valores')
# plt.legend()

# plt.show()

#TRYING TO CREATE THE GRAPH
#Configuração do Gráfico
plt.figure(figsize=(10, 6))
#aparentemente cada uma dessas plt.bar são uma cor de cada barra que eu quero empilar
plt.bar(df_RMAnosDeEstudoTotal['anos de instrução'], df_RMAnosDeEstudoTotal['Até 1/2 salário mínimo'], label='Até 1/2 salário mínimo', color='skyblue')
plt.bar(df_RMAnosDeEstudoTotal['anos de instrução'], df_RMAnosDeEstudoTotal['Mais de 1/2 a 1 salário mínimo'], bottom=df_RMAnosDeEstudoTotal['Até 1/2 salário mínimo'], label='Mais de 1/2 a 1 salário mínimo', color='lightgreen')
plt.bar(df_RMAnosDeEstudoTotal['anos de instrução'], df_RMAnosDeEstudoTotal['Mais de 1 a 2 salários mínimos'], bottom=df_RMAnosDeEstudoTotal['Até 1/2 salário mínimo'], bottom=df_RMAnosDeEstudoTotal['Mais de 1/2 a 1 salário mínimo'], label='Mais de 1 a 2 salários mínimos', color='salmon')

plt.title('Gráfico de Colunas Empilhadas')
plt.xlabel('anos de instrução')
plt.ylabel('total')
plt.legend()

plt.show()

KeyError: 'Até 1/2 salário mínimo'

In [ ]:
# Dados de exemplo
data = {
    'Categoria': ['A', 'B', 'C'],
    'Parte1': [10, 20, 30],
    'Parte2': [15, 25, 35],
    'Parte3': [10, 15, 5]
}

df = pd.DataFrame(data)

# Configuração do gráfico
plt.figure(figsize=(10, 6))
plt.bar(df['Categoria'], df['Parte1'], label='Parte 1', color='skyblue')
plt.bar(df['Categoria'], df['Parte2'], bottom=df['Parte1'], label='Parte 2', color='lightgreen')
plt.bar(df['Categoria'], df['Parte3'], bottom=df['Parte1'] + df['Parte2'], label='Parte 3', color='salmon')

# Adicionar título e rótulos
plt.title('Stacked Bar Chart Example')
plt.xlabel('Categoria')
plt.ylabel('Valores')
plt.legend()

plt.show()