<a href="https://colab.research.google.com/github/Igorprogr/Analise-de-Dados-PNAD/blob/main/An%C3%A1lise_de_Dados_Dados_PNAD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Projeto Data Science - Análise de Dados
Projeto sobre análise de dados e responder perguntas com gráficos e métricas;

A fazer:
*Montar uma hipótese/pergunta e escolher variáveis do PNAD que podem responder minha pergunta -> fazer representações gráficas, tubulares e com métricas descritivas;*

O que é PNAD?
https://www.ibge.gov.br/estatisticas/sociais/populacao/9127-pesquisa-nacional-por-amostra-de-domicilios.html?=&t=o-que-e



Índice com significado de cada pasta:
https://ftp.ibge.gov.br/Trabalho_e_Rendimento/Pesquisa_Nacional_por_Amostra_de_Domicilios_anual/2015/Volume_Brasil/Brasil/00_indice_tabelas_brasil.txt

# Tema: Educação e Emprego

**Pergunta**: "Qual é o impacto do nível educacional no salário médio dos indivíduos?"

---

**Hipótese**: "Indivíduos com nível superior completo têm um salário médio significativamente maior do que aqueles com ensino médio completo."
Variáveis Possíveis do PNAD:

-Nível de escolaridade;

-Rendimento mensal;

-Ocupação;

In [12]:
! pip install pandas matplotlib seaborn ezodf

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.8.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.2)
Requirement already satisfied: ezodf in /usr/local/lib/python3.10/dist-packages (0.3.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [13]:
# Importações de bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ezodf

In [14]:
def read_ods(filename, sheet_index=0):
  doc = ezodf.opendoc(filename)
  sheet = doc.sheets[sheet_index]

  data = [[cell.value for cell in row] for row in sheet.rows()]
  df = pd.DataFrame(data[1:], columns=data[0])

  return df

In [15]:
#Título do conteúdo da tabela:
#Tabela 4.10 - Pessoas de 15 anos ou mais de idade, ocupadas na semana de
#referência, por grupos de anos de estudo, segundo o sexo e as classes de rendimento mensal de todos os trabalhos - Brasil - 2015

df_rendimentoMensalTrabalhoRAW = read_ods('Tabela 4.10 - 1-1.ods')

In [16]:
df_rendimentoMensalTrabalhoRAW.dtypes

None    object
None    object
None    object
None    object
None    object
None    object
None    object
None    object
None    object
None    object
dtype: object

In [17]:
df_rendimentoMensalTrabalhoRAW.head(5)

,None,None,None,None,None,None,None,None,None,None
0,4 - Trabalho\nTabela 4.10 - Pessoas de 15 anos...,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None,None
2,Sexo\ne\nclasses de rendimento mensal\nde todo...,"Pessoas de 15 anos ou mais de idade, ocupadas ...",None,None,None,None,None,None,None,None
3,None,Total ...,Grupos de anos de estudo ...,None,None,None,None,None,None,None
4,None,None,Sem instrução e menos de 1 ano ...,1 a 3\nanos ...,4 a 7\nanos ...,8 a 10\nanos ...,11 a 14\nanos ...,15 anos\nou mais ...,Não determinados ...,None

Dicionário de Abreviações:

-Na nomeação das variáveis: "RM" = Rendimento Mensal;

In [39]:
#Remove linha que inúteis do começo
df_RMAnosDeEstudo = df_rendimentoMensalTrabalhoRAW.drop(index=[0, 1, 2, 3], axis=0)

df_RMAnosDeEstudo.reset_index(drop=True, inplace=True)

df_RMAnosDeEstudo = pd.Series([3, 4])

In [23]:
df_RMAnosDeEstudo.head()

,None,None,None,None,None,None,None,None,None,None
0,None,None,Sem instrução e menos de 1 ano ...,1 a 3\nanos ...,4 a 7\nanos ...,8 a 10\nanos ...,11 a 14\nanos ...,15 anos\nou mais ...,Não determinados ...,None
1,Total,94820.067,5672.64,6242.652,17971.355,15703.975,35316.109,13796.97,116.366,None
2,Até 1/2 salário mínimo,6724.668,1154.821,1074.125,1994.772,1280.79,1120.41,78.689,21.061,None
3,Mais de 1/2 a 1 salário mínimo,17518.032,1450.336,1721.952,4400.667,3530.27,5829.664,552.282,32.861,None
4,Mais de 1 a 2 salários mínimos,34998.488,1380.491,1788.324,6835.23,6804.613,15671.988,2472.803,45.039,None

In [24]:
#Define novo cabeçalho
new_header = df_RMAnosDeEstudo.iloc[0]
df_RMAnosDeEstudo = df_RMAnosDeEstudo[1:]
df_RMAnosDeEstudo.columns = new_header

In [25]:
df_RMAnosDeEstudo.head()

,None,None,Sem instrução e menos de 1 ano,1 a 3\nanos,4 a 7\nanos,8 a 10\nanos,11 a 14\nanos,15 anos\nou mais,Não determinados,None
1,Total,94820.067,5672.64,6242.652,17971.355,15703.975,35316.109,13796.97,116.366,None
2,Até 1/2 salário mínimo,6724.668,1154.821,1074.125,1994.772,1280.79,1120.41,78.689,21.061,None
3,Mais de 1/2 a 1 salário mínimo,17518.032,1450.336,1721.952,4400.667,3530.27,5829.664,552.282,32.861,None
4,Mais de 1 a 2 salários mínimos,34998.488,1380.491,1788.324,6835.23,6804.613,15671.988,2472.803,45.039,None
5,Mais de 2 a 3 salários mínimos,11942.932,276.605,358.276,1715.973,1774.556,5545.969,2268.097,3.456,None

In [ ]:
#Tabela 4.12 - Pessoas de 15 anos ou mais de idade, ocupadas na semana de refer�ncia e valor de rendimento m�dio mensal de todos os
#trabalhos das pessoas de 15 anos ou mais de idade, ocupadas na semana de refer�ncia, por sexo, segundo as classes de rendimento mensal
#de todos os trabalhos - Brasil - 2015

Gráfico de Barras para deixar mais visual os dados da tabela de rendimento mensal por anos de estudo

In [45]:
#Tentar implementar o 'iloc' nessa definição dos eixos
eixoY_AnosDeEstudo = df_RMAnosDeEstudo.rows
eixoX_AnosDeEstudo = df_RMAnosDeEstudo.columns

plt.figure(figsize=(32,9))
sns.barplot(x=eixoX_AnosDeEstudo, y=eixoY_AnosDeEstudo, data=df_RMAnosDeEstudo)
plt.title('Rendimento Mensal por Anos de Estudo')
plt.xlabel('Rendimento Mensal')
plt.ylabel('Anos de Estudo')
plt.show()

AttributeError: 'Series' object has no attribute 'rows'