<a href="https://colab.research.google.com/github/Igorprogr/Analise-de-Dados-PNAD/blob/main/An%C3%A1lise_de_Dados_Dados_PNAD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Projeto Data Science - Análise de Dados
Projeto sobre análise de dados e responder perguntas com gráficos e métricas;

A fazer:
*Montar uma hipótese/pergunta e escolher variáveis do PNAD que podem responder minha pergunta -> fazer representações gráficas, tubulares e com métricas descritivas;*

O que é PNAD?
https://www.ibge.gov.br/estatisticas/sociais/populacao/9127-pesquisa-nacional-por-amostra-de-domicilios.html?=&t=o-que-e



Índice com significado de cada pasta:
https://ftp.ibge.gov.br/Trabalho_e_Rendimento/Pesquisa_Nacional_por_Amostra_de_Domicilios_anual/2015/Volume_Brasil/Brasil/00_indice_tabelas_brasil.txt

# Tema: Educação e Emprego

**Pergunta**: "Qual é o impacto do nível educacional no salário médio dos indivíduos?"

---

**Hipótese**: "Indivíduos com nível superior completo têm um salário médio significativamente maior do que aqueles com ensino médio completo."
Variáveis Possíveis do PNAD:

-Nível de escolaridade;

-Rendimento mensal;

-Ocupação;

In [4]:
! pip install pandas matplotlib seaborn ezodf

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.8.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.2)
Collecting ezodf
  Downloading ezodf-0.3.2.tar.gz (125 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.9/125.9 kB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Building wheels for collected packages: ezodf
  Building wheel for ezodf (setup.py) ... done
  Created wheel for ezodf: filename=ezodf-0.3.2-py2.py3-none-any.whl size=49002 sha256=c58c68ed59512dcc9124d8ce3e52ac3f3d2abc36b3ac5678c019f37f8439dd11
  Stored in directory: /root/.cache/pip/wheels/50/09/62/ea2c44e6ffdd067d6c8d3f557af0734a195bd252d6901f23ca
Successfully built ezodf
Installing collected packages: ezodf
Successfully installed ezodf-0.3.2

In [12]:
# Importações de bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ezodf

In [16]:
def read_ods(filename, sheet_index=0):
  doc = ezodf.opendoc(filename)
  sheet = doc.sheets[sheet_index]

  data = [[cell.value for cell in row] for row in sheet.rows()]
  df = pd.DataFrame(data[1:], columns=data[0])

  return df

In [17]:
df_rendimentoMensalTrabalho = read_ods('rendimentoMensalTrabalho.ods')

In [18]:
df_rendimentoMensalTrabalho.dtypes

None    object
None    object
None    object
None    object
None    object
None    object
None    object
None    object
None    object
None    object
dtype: object

In [22]:
df_rendimentoMensalTrabalho.head(150)

,None,None,None,None,None,None,None,None,None,None
0,4 - Trabalho\nTabela 4.10 - Pessoas de 15 anos...,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None,None
2,Sexo\ne\nclasses de rendimento mensal\nde todo...,"Pessoas de 15 anos ou mais de idade, ocupadas ...",None,None,None,None,None,None,None,None
3,None,Total ...,Grupos de anos de estudo ...,None,None,None,None,None,None,None
4,None,None,Sem instrução e menos de 1 ano ...,1 a 3\nanos ...,4 a 7\nanos ...,8 a 10\nanos ...,11 a 14\nanos ...,15 anos\nou mais ...,Não determinados ...,None
5,Total,94820.067,5672.64,6242.652,17971.355,15703.975,35316.109,13796.97,116.366,None
6,Até 1/2 salário mínimo,6724.668,1154.821,1074.125,1994.772,1280.79,1120.41,78.689,21.061,None
7,Mais de 1/2 a 1 salário mínimo,17518.032,1450.336,1721.952,4400.667,3530.27,5829.664,552.282,32.861,None
8,Mais de 1 a 2 salários mínimos,34998.488,1380.491,1788.324,6835.23,6804.613,15671.988,2472.803,45.039,None
9,Mais de 2 a 3 salários mínimos,11942.932,276.605,358.276,1715.973,1774.556,5545.969,2268.097,3.456,None
10,Mais de 3 a 5 salários mínimos,8326.141,108.201,122.727,781.232,839.729,3532.952,2940.259,1.041,None
11,Mais de 5 a 10 salários mínimos,5493.526,43.003,42.086,272.735,302.606,1765.155,3067.305,0.636,None
12,Mais de 10 a 20 salários mínimos,1915.879,6.397,9.462,47.542,64.463,351.759,1436.256,-,None
13,Mais de 20 salários mínimos,532.748,4.536,4.582,10.87,14.212,59.858,438.69,-,None
14,Sem rendimento (1),5857.573,1133.295,1039.718,1723.963,930.487,873.814,146.343,9.953,None
15,Sem declaração,1510.08,114.955,81.4,188.371,162.249,564.54,396.246,2.319,None
16,Homens,54306.363,3857.362,4159.374,11496.499,9722.081,18822.044,6186.53,62.473,None
17,Até 1/2 salário mínimo,3053.852,752.46,587.76,922.971,500.102,262.315,15.594,12.65,None
18,Mais de 1/2 a 1 salário mínimo,8885.735,1055.502,1206.01,2482.499,1794.919,2175.163,154.432,17.21,None
19,Mais de 1 a 2 salários mínimos,19990.813,1047.152,1395.713,4758.148,4366.163,7647.444,751.383,24.81,None
20,Mais de 2 a 3 salários mínimos,8133.639,233.48,323.51,1502.857,1475.178,3753.583,842.765,2.266,None
21,Mais de 3 a 5 salários mínimos,5505.508,90.569,118.329,717.585,728.696,2607.361,1242.251,0.717,None
22,Mais de 5 a 10 salários mínimos,3625.036,37.126,37.599,249.078,270.464,1380.749,1649.384,0.636,None
23,Mais de 10 a 20 salários mínimos,1365.878,5.508,9.01,42.563,60.579,291.655,956.563,-,None
24,Mais de 20 salários mínimos,401.721,3.461,4.582,10.87,11.516,42.11,329.182,-,None
25,Sem rendimento (1),2426.578,542.267,417.69,685.855,408.979,322.832,46.765,2.19,None
26,Sem declaração,917.603,89.837,59.171,124.073,105.485,338.832,198.211,1.994,None
27,Mulheres,40513.704,1815.278,2083.278,6474.856,5981.894,16494.065,7610.44,53.893,None
28,Até 1/2 salário mínimo,3670.816,402.361,486.365,1071.801,780.688,858.095,63.095,8.411,None
29,Mais de 1/2 a 1 salário mínimo,8632.297,394.834,515.942,1918.168,1735.351,3654.501,397.85,15.651,None
30,Mais de 1 a 2 salários mínimos,15007.675,333.339,392.611,2077.082,2438.45,8024.544,1721.42,20.229,None
31,Mais de 2 a 3 salários mínimos,3809.293,43.125,34.766,213.116,299.378,1792.386,1425.332,1.19,None
32,Mais de 3 a 5 salários mínimos,2820.633,17.632,4.398,63.647,111.033,925.591,1698.008,0.324,None
33,Mais de 5 a 10 salários mínimos,1868.49,5.877,4.487,23.657,32.142,384.406,1417.921,-,None
34,Mais de 10 a 20 salários mínimos,550.001,0.889,0.452,4.979,3.884,60.104,479.693,-,None
35,Mais de 20 salários mínimos,131.027,1.075,-,-,2.696,17.748,109.508,-,None
36,Sem rendimento (1),3430.995,591.028,622.028,1038.108,521.508,550.982,99.578,7.763,None
37,Sem declaração,592.477,25.118,22.229,64.298,56.764,225.708,198.035,0.325,None
38,None,None,None,None,None,None,None,None,None,None
39,None,None,None,None,None,None,None,None,None,None
40,"Fonte: IBGE, Diretoria de Pesquisas, Coordenaç...",None,None,None,None,None,None,None,None,None
41,None,None,None,None,None,None,None,None,None,None
42,None,None,None,None,None,None,None,None,None,None
43,None,None,None,None,None,None,None,None,None,None
44,\n,None,None,None,None,None,None,None,None,None
45,None,None,None,None,None,None,None,None,None,None
46,None,None,None,None,None,None,None,None,None,None
47,None,None,None,None,None,None,None,None,None,None
48,None,None,None,None,None,None,None,None,None,None

WARNING:root:Quickchart encountered unexpected dtypes in columns: "([None, None, None, None, None, None, None, None, None, None],)"