<a href="https://colab.research.google.com/github/Igorprogr/Analise-de-Dados-PNAD/blob/main/An%C3%A1lise_de_Dados_Dados_PNAD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Projeto Data Science - Análise de Dados
Projeto sobre análise de dados e responder perguntas com gráficos e métricas;

A fazer:
*Montar uma hipótese/pergunta e escolher variáveis do PNAD que podem responder minha pergunta -> fazer representações gráficas, tubulares e com métricas descritivas;*

O que é PNAD?
https://www.ibge.gov.br/estatisticas/sociais/populacao/9127-pesquisa-nacional-por-amostra-de-domicilios.html?=&t=o-que-e



Índice com significado de cada pasta:
https://ftp.ibge.gov.br/Trabalho_e_Rendimento/Pesquisa_Nacional_por_Amostra_de_Domicilios_anual/2015/Volume_Brasil/Brasil/00_indice_tabelas_brasil.txt

# Tema: Educação e Emprego

**Pergunta**: "Qual é o impacto do nível educacional no salário médio dos indivíduos?"

---

**Hipótese**: "Indivíduos com nível superior completo têm um salário médio significativamente maior do que aqueles com ensino médio completo."
Variáveis Possíveis do PNAD:

-Nível de escolaridade;

-Rendimento mensal;

-Ocupação;

In [ ]:
! pip install pandas matplotlib seaborn ezodf

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.8.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.2)
Collecting ezodf
  Downloading ezodf-0.3.2.tar.gz (125 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.9/125.9 kB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.55.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Building wheels for collected packages: ezodf
  Building wheel for ezodf (setup.py) ... done
  Created wheel for ezodf: filename=ezodf-0.3.2-py2.py3-none-any.whl size=49002 sha256=4f3e8c0001edaa8049b89f3932624c2c39f7b1bcd0774b185953e9b784593ff4
  Stored in directory: /root/.cache/pip/wheels/50/09/62/ea2c44e6ffdd067d6c8d3f557af0734a195bd252d6901f23ca
Successfully built ezodf
Installing collected packages: ezodf
Successfully installed ezodf-0.3.2

In [ ]:
# Importações de bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ezodf

In [ ]:
def read_ods(filename, sheet_index=0):
  doc = ezodf.opendoc(filename)
  sheet = doc.sheets[sheet_index]

  data = [[cell.value for cell in row] for row in sheet.rows()]
  df = pd.DataFrame(data[1:], columns=data[0])

  return df

In [ ]:
#Título do conteúdo da tabela:
#Tabela 4.10 - Pessoas de 15 anos ou mais de idade, ocupadas na semana de
#referência, por grupos de anos de estudo, segundo o sexo e as classes de rendimento mensal de todos os trabalhos - Brasil - 2015

df_rendimentoMensalTrabalhoRAW = read_ods('Tabela 4.10 - 1-1.ods')

In [ ]:
df_rendimentoMensalTrabalhoRAW.dtypes

None    object
None    object
None    object
None    object
None    object
None    object
None    object
None    object
None    object
None    object
dtype: object

Dicionário de Abreviações:

-Na nomeação das variáveis: "RM" = Rendimento Mensal;

In [ ]:
#Remove linha que inúteis do começo
indicesParaDeletar = [0, 1, 2, 3]

df_RMAnosDeEstudo = df_rendimentoMensalTrabalhoRAW.drop(indicesParaDeletar, axis='index')

df_RMAnosDeEstudo.reset_index(drop=True, inplace=True)

,None,None,None,None,None,None,None,None,None,None
0,None,None,Sem instrução e menos de 1 ano ...,1 a 3\nanos ...,4 a 7\nanos ...,8 a 10\nanos ...,11 a 14\nanos ...,15 anos\nou mais ...,Não determinados ...,None
1,Total,94820.067,5672.64,6242.652,17971.355,15703.975,35316.109,13796.97,116.366,None
2,Até 1/2 salário mínimo,6724.668,1154.821,1074.125,1994.772,1280.79,1120.41,78.689,21.061,None
3,Mais de 1/2 a 1 salário mínimo,17518.032,1450.336,1721.952,4400.667,3530.27,5829.664,552.282,32.861,None
4,Mais de 1 a 2 salários mínimos,34998.488,1380.491,1788.324,6835.23,6804.613,15671.988,2472.803,45.039,None

In [ ]:
#Define novo cabeçalho
new_header = df_RMAnosDeEstudo.iloc[0]
df_RMAnosDeEstudo = df_RMAnosDeEstudo[1:]
df_RMAnosDeEstudo.columns = new_header

In [ ]:
#Muda apenas o índice de uma coluna isolada
df_RMAnosDeEstudo.columns.values[1] = 'total'
df_RMAnosDeEstudo.columns.values[0] = 'anos de instrução'
#Retirar a última coluna
#df_RMAnosDeEstudo.drop(columns=df_RMAnosDeEstudo.columns[9])

In [36]:
#Identifica a coluna nula, a guarda em uma variável e a deleta
coluna_sem_nome = df_RMAnosDeEstudo.columns[df_RMAnosDeEstudo.columns.isnull()]
df_RMAnosDeEstudo.drop(columns=coluna_sem_nome, inplace=True)
df_RMAnosDeEstudo.head()

,anos de instrução,total,Sem instrução e menos de 1 ano,1 a 3\nanos,4 a 7\nanos,8 a 10\nanos,11 a 14\nanos,15 anos\nou mais,Não determinados
1,Total,94820.067,5672.64,6242.652,17971.355,15703.975,35316.109,13796.97,116.366
2,Até 1/2 salário mínimo,6724.668,1154.821,1074.125,1994.772,1280.79,1120.41,78.689,21.061
3,Mais de 1/2 a 1 salário mínimo,17518.032,1450.336,1721.952,4400.667,3530.27,5829.664,552.282,32.861
4,Mais de 1 a 2 salários mínimos,34998.488,1380.491,1788.324,6835.23,6804.613,15671.988,2472.803,45.039
5,Mais de 2 a 3 salários mínimos,11942.932,276.605,358.276,1715.973,1774.556,5545.969,2268.097,3.456

In [ ]:
#Tabela 4.12 - Pessoas de 15 anos ou mais de idade, ocupadas na semana de refer�ncia e valor de rendimento m�dio mensal de todos os
#trabalhos das pessoas de 15 anos ou mais de idade, ocupadas na semana de refer�ncia, por sexo, segundo as classes de rendimento mensal
#de todos os trabalhos - Brasil - 2015 ...

Gráfico de Barras para deixar mais visual os dados da tabela de rendimento mensal por anos de estudo

In [ ]:
# Mark the content of the cell and press Ctrl+ /.
# It will comment out all lines in that cell. Repeat the same steps to uncomment the lines of your cell.

# Adapte o código a seguir para fazer um código de barrar empilhadas:
----------------------------------------------------------------------------------------------

import matplotlib.pyplot as plt
import pandas as pd

# Dados de exemplo
data = {
    'Categoria': ['A', 'B', 'C'],
    'Parte1': [10, 20, 30],
    'Parte2': [15, 25, 35],
    'Parte3': [10, 15, 5]
}

df = pd.DataFrame(data)

# Configuração do gráfico
plt.figure(figsize=(10, 6))
plt.bar(df['Categoria'], df['Parte1'], label='Parte 1', color='skyblue')
plt.bar(df['Categoria'], df['Parte2'], bottom=df['Parte1'], label='Parte 2', color='lightgreen')
plt.bar(df['Categoria'], df['Parte3'], bottom=df['Parte1'] + df['Parte2'], label='Parte 3', color='salmon')

# Adicionar título e rótulos
plt.title('Stacked Bar Chart Example')
plt.xlabel('Categoria')
plt.ylabel('Valores')
plt.legend()

plt.show()

SyntaxError: invalid syntax (<ipython-input-10-b91d56b57f08>, line 5)